#window {
   background:white;
   background:rgba(255,255,255,0.1);
   float:left;
}

#scripts{
    font-size:10px; 
    display:inline-block;
}

#menu {
   bottom:20px;  /*sets space of footer off bottom */
   width:100%;
   position:fixed;
   background-color:#000000;
   background-color:rgba(0,0,0,0.75);  
   margin-left:10px;
}

#pdfApprove {
    background-color:#000000;
    background-color:rgba(0,0,0,0.75);  
    width:100px;
    text-align:center;
}
#logo{
    margin-left:25px;    
    display:inline-block;
}

#howto{
    position:fixed;
    top:0;
    right:0;
    background-color:#000000;
    background-color:rgba(0,0,0,0.75);
    padding:10px;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

#howto_button {
    background-color:#000000;
    background-color:rgba(0,0,0,0.75);
    /*float:right;*/
    /*margin-right:-200;*/
    /*margin-top:-200;*/
    width:100px;
    height:25px;
    position:fixed;
    top:0;
    right:0;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    text-align:center;
}

#howto table{
border:1px solid;
border-radius:5px;
}

#howto td{
padding-left:15px;
padding-right:15px;
}

#howto a{
    color:gold;
}

.field {
    color:white;
    font-family: Century Gothic, Helvetica, Arial;
/*    display:inline-block;    */
    border-radius:5px;
}

html{
   /*This section adds the centered and scaling background image*/
   background: url("../pic/burnout_hires.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
